name: Scaffold a new service
on:
  workflow_dispatch:
    inputs:
      port_context:
        required: true
        description: Includes the action's run id
      project_name:
        required: true
        description: The name of the project
        type: string
      backend_framework:
        required: true
        description: Backend Framework
        type: string
      frontend_framework:
        required: true
        description: Frontend Framework
        type: string
      cloud_provider:
        required: true
        description: Cloud Provider
        type: string
      ai_model:
        required: true
        description: AI Model
        type: string
jobs:
  scaffold-service:
    env:
      ORG_NAME: Ajay-Chidambaram
    runs-on: ubuntu-latest
    steps:
      - uses: port-labs/cookiecutter-gha@v1.1.1
        id: scaff-backend
        with:
          portClientId: ${{ secrets.PORT_CLIENT_ID }}
          portClientSecret: ${{ secrets.PORT_CLIENT_SECRET }}
          token: ${{ secrets.ORG_ADMIN_TOKEN }}
          portRunId: ${{ fromJson(inputs.port_context).runId }}
          repositoryName: ${{ inputs.project_name }}-backend
          portUserInputs: '{"cookiecutter_app_name": "${{ inputs.service_name }}" }'
          cookiecutterTemplate: https://github.com/lacion/cookiecutter-golang
          blueprintIdentifier: "service"
          organizationName: ${{ env.ORG_NAME }}

      - uses: port-labs/cookiecutter-gha@v1.1.1
        id: scaff-frontend
        with:
          portClientId: ${{ secrets.PORT_CLIENT_ID }}
          portClientSecret: ${{ secrets.PORT_CLIENT_SECRET }}
          token: ${{ secrets.ORG_ADMIN_TOKEN }}
          portRunId: ${{ fromJson(inputs.port_context).runId }}
          repositoryName: ${{ inputs.project_name }}-frontend
          portUserInputs: '{"cookiecutter_app_name": "${{ inputs.service_name }}" }'
          cookiecutterTemplate: https://github.com/thoughtbot/react-native-template
          blueprintIdentifier: "service"
          organizationName: ${{ env.ORG_NAME }}